.container {
  margin-top: 30px;
  background-color: white;
  border: 2px solid #d9534f;
  border-radius: 5px;
}

body {
  background-color: white;
  font-family: "Oswald", sans-serif !important;
}

.navBarTitle {
  color: #ffeed4;
}

.selectLabel {
  padding-top: 10px;
  font-weight: bold;
  color: #c23833;
}

.massaStepsRow {
  display: flex;
  flex-flow: row-reverse;
  margin-right: 1px;
  margin-bottom: 9px;
}

.stepsRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.voltarButton {
  margin-left: 15px;
}

.proximoButton {
  margin-right: 15px;
}

.optionInput {
  font-weight: bold;
}

.finalizarTitle {
  padding-top: 15px;
  font-weight: bold;
  color: #c23833;
}

.mainTitle {
  padding-top: 15px;
  font-weight: bold;
  color: #c23833;
}
